:root {
    /* color */
    --primary: #5A9BFF;
}

/* Figma Styles of your File */
:root {
    /* Colors */
    --gray-1: #001122;
    --gray-2: #888888;

    /* Fonts */
    /* Effects */
}